@use "../../index.scss" as s;

.accordion {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top : 15px;
  margin-bottom: 30px;
  min-height : 350px;
  @include s.mobile-only {
  margin-bottom : 0;
  }
  & .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #ff6060;
    padding: 1rem;
    border-radius: 5px;
    & h2 {
      font-weight: 500;
      font-size: 24px;
      color: white;
      @include s.mobile-only {
        font-size : 14px;
      }
    }
  }

  @keyframes openModal {
    0% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1.1);
    }
    100% {
      transform: scaleY(1);
    }
  }

  & .accordion-content {
    font-size: 18px;
    color: #ff6060;
    background-color: #f6f6f6;
    padding: 1rem;
    border-radius: 5px;
    @include s.mobile-only {
      font-size : 14px;
    }
  }
  .accordion-content.ouvert {
    animation: openModal 0.5s ease-in-out forwards;
    transform-origin: top center;
  }
}

.filters__chevron {
  border-radius: 2px;
  transition: all 0.5s linear;
  @include s.tablette-only {
   width : 20px;
  }
}

.filters__chevron.rotate {
  transition: all 0.5s linear;
  transform: rotate(-180deg);
}
