body {
  font-family: 'Montserrat', sans-serif;
}


a {
  text-decoration: none;
  color : #FF6060;
}


h1,h3, p {
  font-weight : 500;
  font-size : 24px;
  Line-height : 34.22px;
  color : white;
}



h4 {
  color : #FF6060;  
  font-size : 36px;
  font-weight : 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@mixin mobile-only {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

