@use "../../index.scss" as s;

.Cardcontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 50px 50px;
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 40px;

  & .Card {
    position : relative;
    width: 20%;
    height: 340px;
    border-radius: 15px;
    background: linear-gradient(0.5turn, #ff6060, #9c5757);
    cursor : pointer;
    @include s.mobile-only {
      width: 100%;
    }
    & a {
      color: white;
    }

    & .titrecard {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;

      & .texteCard {
        position : absolute;
        padding-bottom : 15px;
        padding-left : 15px;
      }

      & .image {
        object-fit : cover;
        height : 340px;
        width : 100%;
        border-radius : 15px;
      }
    }
  }
}
