@use "../../index.scss" as s;

.Cardcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  margin: 50px 50px;
  background-color: #f6f6f6;
  border-radius: 40px;
  padding: 40px;
  @include s.mobile-only {
    background-color : transparent;
    padding : 0px;
    margin : 10px;
    gap : 20px;
  }

  & .Card {
    position: relative;
    width: 23%;
    height: 340px;
    border-radius: 15px;
    background: linear-gradient(0.5turn, #ff6060, #9c5757);
    cursor: pointer;
    @include s.tablette-only {
      width: 100%;
    }
    & a {
      color: white;
    }

    & .titrecard {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;

      & .texteCard {
        position: absolute;
        padding-bottom: 15px;
        padding-left: 15px;

        & h2 {
          font-weight: 500;
          font-size: 24px;
          color: white;
        }
      }

      & .image {
        object-fit: cover;
        height: 340px;
        width: 100%;
        border-radius: 15px;
      }
    }
  }
}
