.texterreur {
    display : flex;
    color : #FF6060;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    gap : 80px;
    padding-bottom : 80px;

    & a {
        text-decoration : underline;
    }
}

.Erreurimg {
    width : 50%;
}
