@use "../../index.scss" as s;

.Bannerimg {
  position: relative;
  width: 100%;
  margin: 50px 50px;
}

.texte {
  width: 100%;
  position: absolute;
  z-index: 1;
  top : 100px;
  text-align: center;
  @include s.mobile-only {
    width: 55%;
    text-align: start;
  }
}
.Bannerimage {
  width : 95%;
  object-fit : cover;
  filter: brightness(75%);
  height: 220px;
  border-radius: 25px;
}

.Bannerlarge {
  @include s.mobile-only {
    max-height : 350px;
  }
}

