@use "../../index.scss" as s;

.Bannerimg {
  position: relative;
  margin: 50px 50px;
}

.texte {
  width: 100%;
  position: absolute;
  z-index: 1;
  top : 100px;
  text-align: center;
  @include s.mobile-only {
    top : 20px;
    width: 40%;
    padding-left : 10px;
    text-align: start;
  }
  & h3 {
    @include s.mobile-only {
      font-size : 28px;
    }
  }
}
.Bannerimage {
  width : 100%;
  object-fit : cover;
  filter: brightness(75%);
  height: 220px;
  border-radius: 25px;
  @include s.mobile-only {
    height : 110px;
  }
}

.Bannerlarge {
  width : 100%;
  object-fit : cover;
  filter: brightness(75%);
  height: 220px;
  border-radius: 25px;
  @include s.mobile-only {
    height : 400px;
  }
}

