@use "../../index.scss" as s;

* {
  margin: 0;
  padding: 0;
}

.carrousel {
  margin: 50px 50px;
  position: relative;
  @include s.mobile-only {
    margin: 20px 10px;
  }

  & .carrousel_img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 25px;
  }
  &__fleche {
    position: absolute;
    bottom: 40%;
    z-index: 3;
    width: 40px;
    height: 60px;
    cursor: pointer;
  }
  &__flechedroite {
    right: 20px;
  }
  &__flechegauche {
    left: 20px;
  }
  &_compteur {
    position: absolute;
    bottom: 20px;
    right: 50%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -2px;
    @include s.tablette-only {
      display: none;
    }
  }
}
///
.detailsLog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 50px;
  @include s.mobile-only {
    flex-direction: column;
    margin: 0px 20px;
  }
  .titre {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .titre_info {
      color: #ff6060;
      h1 {
        font-size: 51px;
        font-weight: 300;
        line-height: 50px;
        color: #ff6060;
        @include s.tablette-only {
          font-size: 35px;
        }
        @include s.mobile-only {
          font-size: 24px;
        }
      }
      p {
        color: #ff6060;
        @include s.mobile-only {
          font-size: 18px;
        }
      }
    }
    .infostags {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      p {
        color: white;
        background-color: #ff6060;
        border-radius: 10px;
        padding: 0px 10px;
        font-size: 14px;
        white-space: nowrap;
        oveflow: hidden;
        text-overflow: ellipsis;
        @include s.mobile-only {
          font-size: 12px;
        }
      }
    }
  }
  .infos {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
    @include s.mobile-only {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: end;
    }
    .etoiles {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 5px;
    }

    .titre_nom {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: end;
      @include s.mobile-only {
        align-items: end;
      }
      p {
        color: #ff6060;
        font-size: 20px;
        font-weight: 500;
        @include s.mobile-only {
          font-size: 14px;
        }
      }

      .photovendeur {
        border-radius: 50px;
        object-fit: cover;
        width: 64px;
      }
    }
  }
}

.Accordionlog {
  display: flex;
  flex-direction: row;
  width: 100%;

  @include s.tablette-only {
    flex-direction: column;
  }

  & .accordion-item {
    width: 50%;
    margin: 50px 50px;
    @include s.tablette-only {
      width : auto;
    }
    & h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 34.22px;
      color: white;
    }

    @include s.mobile-only {
      width: auto;
      flex: 1;
      margin: 25px 20px;
    }
  }

  & .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #ff6060;
    padding: 1rem;
    border-radius: 15px;

    & h2 {
      @include s.mobile-only {
        font-size : 14px;
      }
    }

    & .Chevron {
      display: flex;
      align-items: center;
    }
  }

  @keyframes openModal {
    0% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1.1);
    }
    100% {
      transform: scaleY(1);
    }
  }

  & .accordion-content {
    font-size: 18px;
    color: #ff6060;
    background-color: #f6f6f6;
    padding: 1rem;
    border-radius: 5px;
  }
  .accordion-content.ouvert {
    animation: openModal 0.5s ease-in-out forwards;
    transform-origin: top center;
    @include s.mobile-only {
      font-size : 14px;
    }
  }

  & li {
    list-style-type: none;
  }
}
