@use "../../index.scss" as s;

.accordion {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin: 2rem auto;
  gap: 25px;
  @include s.mobile-only {
    max-width: 85%;
  }
  & .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #ff6060;
    padding: 1rem;
    border-radius: 5px;
    & h2 {
      font-weight: 500;
      font-size: 24px;
      color: white;
    }
  }

  @keyframes openModal {
    0% {
      transform: translateY(5%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes closeModal {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(5%);
    }
  }

  & .accordion-content {
    transition: all 10s linear;
    font-size: 18px;
    color: #ff6060;
    background-color: #f6f6f6;
    padding: 1rem;
    border-radius: 5px;
    animation: openModal .5s linear;
  }
  .accordion-content.ouvert {
    animation: closeModal .5s linear;
  }
}

.filters__chevron {
  border-radius: 2px;
  transition: all 0.5s linear;
}

.filters__chevron.rotate {
  transition: all 0.5s linear;
  transform: rotate(-180deg);
}
