@use "../../index.scss" as s;

.accordion {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin: 2rem auto;
  gap: 25px;
  @include s.mobile-only {
    max-width: 90%;
  }
  & .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #ff6060;
    padding: 1rem;
    border-radius: 5px;
  }
  & .accordion-content {
    font-size: 18px;
    color: #ff6060;
    background-color: #f6f6f6;
    padding: 1rem;
    border-radius: 5px;
  }
}



@mixin Chevron {
animation: anima 0.5s 0.5s  linear both;
 }
 .Chevrondown {
  @include Chevron;
}

@keyframes anima {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(180deg)
   }

 }
