.accordion {
    display : flex;
    flex-direction : column;
    max-width: 75%;
    margin: 2rem auto;
    gap : 20px;
  }

  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #FF6060

  }
  
  .accordion-title:hover {
    background-color: #FF6060
    ;
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
    border-radius : 5px;
  }
  
  .accordion-content {
    font-size : 18px;
    color : #FF6060;
    background-color: #F6F6F6;
  }