@use "../../index.scss" as s;

.Footer {
  background-color: black;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  & .footernav {
    @include s.mobile-only {
      width: 30%;
      text-align: center;
    }
  }
  & h2 {
    color: white;
  }
}
