@use "../../index.scss" as s;

.Footer {
  background-color: black;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & .footernav {
    @include s.mobile-only {
      width: 122px;
      text-align: center;
    }
  }
  & h2 {
    font-weight : 500;
    font-size : 18px;
    Line-height : 34.22px;
    color: white;
    @include s.mobile-only {
      font-size : 12px;
    }
  }
}
