@use "../../index.scss" as s;

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: unset;

  & .Logo {
    height : 70px;

    @include s.mobile-only {
      height: 50px;
    }
  }

  & h2 {
    color: white;
  }
  & a {
    font-size: 22px;
    color: #ff6060;
    text-decoration: none;
    @include s.mobile-only {
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  & .headernav {
    width: unset;
    display: flex;
    flex-direction: row;
    gap: 40px;
    @include s.mobile-only {
      gap: 20px;
    }
  }
}
