@use "../../index.scss" as s;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Header {
  height: 100px;
  margin: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: unset;

  & h2 {
    color: white;
  }
  & a {
    font-size: 22px;
    color: #ff6060;
    text-decoration: none;
  }
  & .headernav {
    width: unset;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
